/* Resetear estilos */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Colores de variables */ 

:root{
    --verde-oscuro: #165952;
    --darker: #0a2928;
    --lighter: #cff8ed;
    --white-opacity: #ffffffc9;
}

/* Scroll*/

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 100px;
}

/* Generales */

.title-center{
    color: var(--verde-oscuro);
    padding: 20px 30px;
}

/* Header */

#icono{
    width: 50px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--verde-oscuro);
    position: fixed;
    z-index: 1;
    width: 100%;
}

#navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.anchor-header{
    color: var(--lighter);
    font-size: 20px;
    font-weight: 800;
}

#inicio{
    padding-top: 100px;
}

/* Primera Sección */

#inicio{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    height: 100vh;
}

#inicio p{
    margin: 30px;
}

/* Secciones de cascada */ 

.container{
    position: relative;
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    gap: 25px;
    padding-top: 10px;
}

.img-cascada{
    height: 80vh;
    border-radius: 10px;
}

.title-cascada{
    position: absolute;
    top: 0;
    background-color:var(--white-opacity);
    width: 100%;
    color: var(--verde-oscuro);
    text-transform: uppercase;
    padding: 20px 30px;
    text-align: center;
}

.text-cascada{
    width: 70%;
    text-align: center;
}